services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: bank
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d bank"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      DB_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/bank?sslmode=disable
      PORT: "8080"
      SERVER_ADDRESS: "0.0.0.0"
      TOKEN_SYMMETRIC_KEY: ${TOKEN_SYMMETRIC_KEY}
      GIN_MODE: release
    depends_on:
      postgres:
        condition: service_healthy
